---
---
$main-color: #bb63d5;
$sub-color: #7f8082;

*{
  font-family: "Courier New", Courier, monospace
}
body{
  text-align: center;
  margin: 0;
  padding: 0;
}
a{
  color: $main-color;
  text-decoration: underline;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  color: $main-color;
}
h1{
    font-size: 3em;
}
#navBar{
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  position: fixed;
  min-height: 75px;
  z-index: 20;
  bottom: 0;
  margin: 0;
  ul{
    list-style: none;
    li{
      display: inline-block;
      font-size: 2em;
      margin-right: 20px;
    }
  }
}
.page{
  min-height: 100%;
  width: 100%;
  padding-top: 30px;
  text-align: center;
}
#mainPage{
  padding-top: 0;
}
#faqs{
  width: 75%;
  text-align: center;
  display: inline-block;
  margin: auto;
  .faq{
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    .header{
      color: $main-color;
      font-weight: bold;
      font-size: 1.5em;
      display: block;
    }
    .answer{
      color: $sub-color;
      display: block;
    }
  }
}
#sponsors{
  height: auto;
  width: 100%;
  padding-top: 30px;
  text-align: center;
}
#sponsorInfo{
  width: 75%;
  display: inline-block;
}
#mainInfoBox{
  width: 75%;
  text-align: center;
  margin: auto;
  padding-top: 5%;
  #mainLogo{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  #hawklogo{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .infoSpan{
    display: block;
    font-size: 1.5em;
    color: $main-color;
  }
}

#aboutHackathon{
  display: inline-block;
  max-width: 400px;
  text-align: center;
  margin-top: 25px;
  color: $sub-color;
}

#signUpButton{
  display: block;
  font-size: 2em;
  margin-top: 7%;
  #mentors{
    color: $sub-color;
    display: block;
    font-size: 0.5em;
  }
}
#schedule{
  padding-bottom: 25%;
}
#theSchedule{
  width: 75%;
  text-align: center;
  display: inline-block;
  .scheduleDay{
    text-align: center;
    margin-right: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    .event{
      text-align: left;
      margin-bottom: 10px;
      .time{
        font-weight: bold;
        color: $main-color;
      }
      .location{
        color: $sub-color;
        font-style: italic;
      }
      .description{
        display: block;
        margin-left: 50px;
        width: 250px;
        color: $sub-color;
      }
    }
    h1{
      font-size: 2.5em;
      font-weight: normal;
    }
  }
}

.subheader{
  font-size: 1.25em;
  color: $main-color;
  font-weight: normal;
}
#mainPage::after {
  content: "";
  background: url(/assets/bhhs.jpg);
  background-repeat:no-repeat;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  position: absolute;
  z-index: -1;
}
