---
---
$main-color: #bb63d5;

*{
  font-family: "Courier New", Courier, monospace
}
body{
  text-align: center;
}
a{
  color: $main-color;
  text-decoration: underline;
}
#mainInfoBox{
  width: 75%;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  #mainLogo{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .infoSpan{
    font-size: 1.5em;
    color: $main-color;
  }
}

#aboutHackathon{
  display: inline-block;
  max-width: 400px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  color: #7f8082;
}
