---
---
$main-color: #bb63d5;
$sub-color: #7f8082;

*{
  font-family: "Courier New", Courier, monospace
}
body{
  text-align: center;
  margin: 0;
  padding: 0;
}
a{
  color: $main-color;
  text-decoration: underline;
}
h1{
    font-size: 3em;
    font-weight: bold;
    color: $main-color;
}
#navBar{
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  position: fixed;
  min-height: 75px;
  bottom: 0;
  margin: 0;
  ul{
    list-style: none;
    li{
      display: inline-block;
      font-size: 2em;
      margin-right: 20px;
    }
  }
}
.page{
  height: 100%;
  width: 100%;
  padding-top: 30px;
  text-align: center;
}
#mainPage{
  padding-top: 0;
}
#faqs{
  width: 75%;
  text-align: center;
  display: inline-block;
  .faq{
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    .header{
      color: $main-color;
      font-weight: bold;
      font-size: 1.5em;
      display: block;
    }
    .answer{
      color: $sub-color;
      display: block;
    }
  }
}
#mainInfoBox{
  width: 75%;
  text-align: center;
  margin: auto;
  padding-top: 10%;
  #mainLogo{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .infoSpan{
    font-size: 1.5em;
    color: $main-color;
  }
}

#aboutHackathon{
  display: inline-block;
  max-width: 400px;
  text-align: center;
  margin-top: 50px;
  color: $sub-color;
}

#signUpButton{
  display: block;
  font-size: 2em;
  margin-top: 7%;
}
