<div id="mainPage" class="page">
  <div id="mainInfoBox">
    <img src="/assets/HackBHHSLogo.png" id="hawklogo" />
    <img src="/assets/hackbloomfieldLogo.png" id="mainLogo" />
    <span class="infoSpan">{{ page.dates }} • {{ page.location}}</span>
  </div>
  <div id="aboutHackathon">
    <span>{{ site.description }}</span>
  </div>
  <div id="signUpButton">
    <a href="https://hackbloomfield.typeform.com/to/QYidCE" target="_blank">sign up!</a>
    <a href="https://goo.gl/forms/eigtdWHh8UtEj7uh2" target="_blank" id="mentors">mentor registration</a>
  </div>
</div>
