<div id="mainPage" class="page">
  <div id="mainInfoBox">
    <img src="{{ site.blackHawkLogo }}" id="hawklogo" />
    <img src="{{ site.logo }}" id="mainLogo" />
    <span class="infoSpan">{{ site.dates }} • {{ site.location}}</span>
  </div>
  <div id="aboutHackathon">
    <span>{{ site.description }}</span>
  </div>
  <div id="signUpButton">
    <a href="#" target="_blank">registration opening soon!</a>
    <a href="https://goo.gl/forms/eigtdWHh8UtEj7uh2" target="_blank" id="mentors">mentor registration</a>
  </div>
</div>
