<div id="sponsors">
  <h1>Sponsors</h1>
  <span id="sponsorInfo">HackBloomfield will bring together some of the brightest aspiring programmers and makers in the Metro Detroit/Windsor area! If your company is interested in sponsoring HackBloomfield, send us an email at <a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
  {% for sponsor in site.data.sponsors %}
  <a href="{{ sponsor.link }}" target="_blank"><img src="/assets/{{ sponsor.image }}" alt="{{ sponsor.name }}" /></a>
  {% endfor %}
</div>
