<html>
<head>
  <meta property="og:image" content="http://hackbloomfield.com/assets/hackBloomfieldLogoOG.png" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:url" content="http://hackbloomfield.com"  />
  <meta property="og:title" content="HackBloomfield" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  {% include navbar.html %}
  {% include mainpage.html %}
  {% include faqs.html %}
  {% include sponsors.html %}
  {% include schedule.html %}
  <!-- {% include mlhbanner.html %} -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});</script>
</body>
</html>
